In [1]:
#1. Print numbers from 1 to 5 using a while loop.

In [2]:
count = 1
while count <= 5: 
    print(count)
    count += 1

1
2
3
4
5

In [3]:
#2. calculate the sum of numbers from 1 to 10 using a while loop

In [1]:
num = 1 
sum_num = 0
while num <= 10:
    sum_num += num
    num += 1
    
print("the sum of numbers from 1 to 10 is:", sum_num)

the sum of numbers from 1 to 10 is: 55

In [2]:
#3. calculate the factorial of a number using a for loop

In [3]:
num = 9
fac = 1
for i in range(1, num+1):
    fac = fac * i
    
print("factorial of", num, "is", fac)

factorial of 9 is 362880

In [4]:
#4. Count the number of vowel in a string using a for loop.

In [36]:
def count_vowels(string):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

input_string = 'hindi notebook'
vowel_count = count_vowels(input_string)
print(f"Number of vowels in the given string is: {vowel_count}")

Number of vowels in the given string is: 6

In [6]:
#5. Print a pattern using nested loop.

In [8]:
for i in range(5):
    for j in range(i+1):
        print("*", end = " ") 
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
#6. Generate a multiplication table using nested loop.

In [34]:
for i in range(1, 11):
    for j in range (1, 11):
        result = row * col
    print (i * j, end = "\t")
    print()

10
20
30
40
50
60
70
80
90
100